@import 'https://fonts.googleapis.com/css?family=Raleway';

html {
    scroll-behavior: smooth;
}

.green {
    background-color: #1e1f1e;
}

.logo-time {
    width: 14em;
    margin-top: 1%;
    margin-bottom: 1%;
}

div.redline {
    background: #83474700;
    height: 90px;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000000;
}

div.containera {
    font-family: Raleway;
    color: #000000;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    margin-bottom: 15px;



}

div.containera a {
    color: #000000;
    text-decoration: none;
    font: 12px LemonMilk R;
    margin: 1em;
    width: 10em;
    text-align: center;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

div.borderXwidth a:before,
div.borderXwidth a:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 0.15em;
    content: '';
    background: #000000;
    transition: all 0.3s;
}

div.borderXwidth a:before {
    left: 0px;
    top: 0px;
}

div.borderXwidth a:after {
    right: 0px;
    bottom: 0px;
}

div.borderXwidth a:hover:before,
div.borderXwidth a:hover:after {
    opacity: 1;
    width: 100%;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Para que a navbar fique acima de outros conteúdos */
}